/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/templates/scrolling-nav)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
  background-color: dodgerblue;
}
.row{
  color: black;
}
.hola{color: white;}

.planes{
  text-align: center;
  margin: 15px;
}

.jumbotron{
background-color: dodgerblue;
}

.btn{
  background-color: floralwhite;
  color:dodgerblue;
}

.T_contacto {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

button.fb {
  width: 150px;
  height: 150px;
  background: blue;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 30px;
  color: white;
  font-size: 50px;
  transition: .3s ease all;
  text-align: center;
  margin: 13px;
}

button.wap {
  width: 150px;
  height: 150px;
  background: green;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 30px;
  color: white;
  font-size: 50px;
  transition: .3s ease all;
  text-align: center;
  margin: 13px;
}

button.ig {
  width: 150px;
  height: 150px;
  background: linear-gradient( blue, purple, rgb(212, 38, 67), orange);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 30px;
  color: white;
  font-size: 50px;
  transition: .3s ease all;
  text-align: center;
  margin: 13px;
}
.Redes {
  display: flex;
  height: 250px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}